// !=============== SECTION-3 ===============

.sec-3{
    width: 100%;
    height: 792px;
    background-color: #7F51D6;
    font: 130px Poppins;
    color: #fff;
    font-weight: 700;
    line-height: 1.1;
    .digit{
        color: #fff;
        margin: 20px;
        margin-left: 190px;
        position: relative;
        top: 140px;
    }
}
.sample{
    font: 16px "Open Sans",sans-serif;
    color: #fff;
    width: 251px;
    height: 76px;
    margin-left: 1000px;
    margin-top: 80px;
}