doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Mobil​e application development
        link(rel="icon", href="../img/icon_tab.png")

        //========= STYLE =========
        link(rel="stylesheet", href="../scss/main.css")
        
        //========= cdn =========
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        //========= FONT =========
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    body 
        //========= HEADER =========
        header 
            img.logo(src="../img/logo.png", alt="logo")
            i.fa.fa-bars
        //========= SECTION 1 =========
        section 
            div.sec-1
                div.s1_left
                    h2 Mobil​e application development
                    p.imgf Image from 
                        a.ahref(href="") Freepik
                    div.horizon
                    div.about-selector
                        p Development 
                        p Tech Trends 
                        p Latest news
                        p About Us
                div.s1_right
        //========= SECTION 2 =========
        section 
            div.sec-2
                div.s2_big-div
                    h1 Make things you love.
                div.s2_left-div
                    h2 Start running today
                    button DOWNLOAD NOW
                    p Free 30-day trial, macOS 10.11+
                div.s2_left-bottom
                p Image from 
                    a(href="") Freepik
        //========= SECTION 3 =========
        section 
            div.sec-3
                p.digit we
                p.digit build
                p.digit digital.
                p.sample Sample text. Click to select the text box. Click again or double click to start editing the text.
        //========= SECTION 4 =========
        section 
            div.sec-4
                div.bg-zindex
                div.sec-4__grid-item
                    div.grid--img-div
                        img(src="../img/section\ 4/1.jpg", alt="")
                    div.grid--img-div
                        img(src="../img/section\ 4/2.jpg", alt="")
                    div.grid--img-div
                        img(src="../img/section\ 4/3.webp", alt="")
                    div.grid--img-div
                        img(src="../img/section\ 4/4.jpg", alt="")
                    div.grid--img-div
                        img(src="../img/section\ 4/5.webp", alt="")
                    div.grid--img-div
                        img(src="../img/section\ 4/6.webp", alt="")
                div.white-bottom-div
                    h2 Mobile App Development 
                    p.ut-enim-text Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                    p.imgfrom-text Images from 
                        a(href="") Freepik
                    button.lmore-btn learn more
        //========= SECTION 5 =========
        section 
            div.sec-5
                p.lorem-text "Aenean pulvinar dui ornare, feugiat lorem non, ultrices justo. Mauris efficitur, mauris in auctor euismod, quam elit ultrices urna, eget eleifend arcu risus id metus."
                img.girl-dev-img(src="../img/section\ 5/girl.jpg", alt="")
                h5.girl-dev-name Mary Smith
                div.left-div-go
                    i.fa.fas.fa-chevron-left
                div.right-div-go
                    i.fa.fas.fa-chevron-right
                p.imgfrom-text-girl Image from 
                    a(href="") Freepik 
        //========= SECTION 6 =========
        section 
            div.sec-6
                h1.our-text Our Team
                div.horizon-mini
                p.sample-text-3 Sample text. Click to select the text box. Click again or double click to start editing the text.
                p.imgfrom-text-4 Images from 
                    a(href="") Freepik 
                div.grid-leader-in
                    div.index-profiles-leader
                    div.leaders-profile
                        div.img-leader-div
                        h4 Alex Grinfield
                        h5 programming guru
                        i.fa.fab.fab.fab.fa-facebook-f
                        i.fa.fab.fab.fa-twitter
                        i.fa.fab.fab.fab.fa-instagram
                    div.leaders-profile
                        img.leader-2-jpg(src="../img/section\ 6/leader-2.jpg", alt="")
                        h4 Ann Richmond
                        h5 creative leader
                        i.fa.fab.fab.fab.fa-facebook-f
                        i.fa.fab.fab.fa-twitter
                        i.fa.fab.fab.fab.fa-instagram
                    div.leaders-profile
                        img.leader-3-jpg(src="../img/section\ 6/leader-3.jpg", alt="")
                        h4 Jeffrey Brown
                        h5 manager
                        i.fa.fab.fab.fab.fa-facebook-f
                        i.fa.fab.fab.fa-twitter
                        i.fa.fab.fab.fab.fa-instagram                
        //========= SECTION 7 =========
        section 
            div.sec-7
                h4 Features
                h1 Using design to improve product development
                div.grid-staric-div
                    div.u-icon-circle
                        img.x-img-1(src="http://uktechcertifications.co.uk/asset/view/wp-content/uploads/2017/12/9001-4.png", alt="")
                        h4 Strategy
                        p Strategic planning is an organization’s process for defining their strategy so that they can accomplish specific goals and objectives
                        a(href="").more-text more
                    div.u-icon-circle
                        img.x-img-1(src="http://uktechcertifications.co.uk/asset/view/wp-content/uploads/2017/12/9001-4.png", alt="")
                        h4 Concept
                        p A business concept is a statement that describes the reach and reason of existence of a given business idea. In other words, it sums up
                        a(href="").more-text more                    
                    div.u-icon-circle
                        img.x-img-1(src="http://uktechcertifications.co.uk/asset/view/wp-content/uploads/2017/12/9001-4.png", alt="")
                        h4 Development
                        p Develop an on-demand app for your delivery business to reach your targeted customers without any interruption. 
                        a(href="").more-text more 
        //========= SECTION 8 =========
        section 
            div.sec-8
                h2 Get in touch
                div.two-inp-flex
                    input(type="text")
                    input(type="email" placeholder="Enter a valid email address")
                textarea.bp-in-your-area(name="text" placeholder="Enter your message") 
                button SUMBIT
        //========= FOOTER ==========
        footer 
            div.footer
                p Sample text. Click to select the text box. Click again or double click to start editing the text.
        //========= FOOTER TEMPLATE ==========
        section 
            div.final
                p Website Templates created with Website Builder Software

