// !============ NAVBAR ============

.logo{
    margin-left: 60px;
    margin-top: 20px;
}
.fa-bars{
    font-size: 25px;
    position: relative;
    top: -12px;
    cursor: pointer;
    left: 80%;
}